@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> Shop Điện Thoại Siêu Đẹp </h2>

<table class="table table-bordered">
    <tr>

    </tr>
</table>
<!-- Thêm mã phân trang -->
<br />
<!-- Kết thúc -->
