@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}

<style>
    main {
        background-color: #f8f9fa;
        color: #343a40;
        padding: 40px 0;
    }

    h2, h3 {
        color: #007bff;
    }

    p {
        line-height: 1.6;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    li {
        margin-bottom: 10px;
    }

    /* Container Styles */
    .container {
        margin: 0 auto;
    }
</style>

<main aria-labelledby="title">
    <div class="container mt-5">
        <h2 id="title">@ViewBag.Title</h2>
        <h3>Chào mừng bạn đến với Thế giới Điện thoại Di động SHOPDT!</h3>

        <p>Khám phá những công nghệ di động mới nhất và trải nghiệm một thế giới của sự kết nối tại cửa hàng điện thoại di động trực tuyến của chúng tôi. Chúng tôi không chỉ là một thị trường; chúng tôi là một cộng đồng tôn vinh sự đổi mới, phong cách và sự kết nối.</p>

        <p>Tại SHOPDT, chúng tôi tự hào mang đến cho bạn một lựa chọn tinh tế nhất của những chiếc điện thoại di động xuất sắc phục vụ mọi nhu cầu và phong cách. Cho dù bạn là một người đam mê công nghệ, một người theo đuổi xu hướng thời trang, hoặc ai đó đang tìm kiếm các lựa chọn phù hợp với ngân sách, chúng tôi có một cái gì đó cho mọi người.</p>

        <p>Tại sao chọn chúng tôi?</p>
        <ul>
            <li><strong>Đa dạng không giới hạn:</strong> Khám phá một loạt các điện thoại di động từ các thương hiệu hàng đầu.</li>
            <li><strong>Ưu đãi độc quyền:</strong> Thưởng thức những ưu đãi và khuyến mãi đặc biệt dành cho cộng đồng của chúng tôi.</li>
            <li><strong>Đánh giá của chuyên gia:</strong> Đưa ra quyết định thông tin với những đánh giá sản phẩm và hướng dẫn chi tiết của chúng tôi.</li>
            <li><strong>Mua sắm an toàn:</strong> Mua sắm với sự tự tin khi biết rằng quyền riêng tư và bảo mật của bạn là ưu tiên hàng đầu của chúng tôi.</li>
        </ul>

        <p>Hãy tham gia với chúng tôi trong chuyến phiêu lưu này của khám phá công nghệ, nơi mỗi cú nhấp chuột đưa bạn gần hơn với trải nghiệm di động hoàn hảo. Cảm nhận sự hứng thú từ những sản phẩm mới nhất, cập nhật xu hướng ngành công nghiệp và trở thành một phần của cộng đồng động đậy chung có niềm đam mê với thiết bị di động.</p>

        <p>Cảm ơn bạn đã chọn SHOPDT. Hành trình của bạn vào thế giới điện thoại di động bắt đầu từ đây!</p>
    </div>
</main>
