<style type="text/css">
    .giohang {
        color: black;
        font-size: large
    }
</style>

<a href="@Url.Action("GioHang","GioHang")" class="giohang">
    <i class="bi-cart-fill me-1"></i>
    Giỏ hàng 
    </i> <span class="badge bg-dark text-white ms-1 rounded-pill">@ViewBag.TongSoLuong</span>
</a>

